.header {
    height: 500px;
    position: relative;
    z-index: 100;
  }
  .header .video-wrapper {
    height: 100%;
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: -1;
  }
  .header video {
    position: absolute;
    height: auto;
    width: 100%;
    min-height: 100%;
  }
  audio, canvas, video {
    display: inline-block;
  }